/* Font Connection */

/* Geometria */

@font-face {
  font-family: 'Geometria Regular';
  src: local('Geometria Regular'),
  url('../fonts/Geometria/Geometria.woff2') format('woff2'),
  url('../fonts/Geometria/Geometria.woff') format('woff');
}

/* Philosopher */

@font-face {
  font-family: 'Philosopher Regular';
  src: local('Philosopher Regular'),
  url('../fonts/Philosopher/Philosopher-Regular.woff2') format('woff2'),
  url('../fonts/Philosopher/Philosopher.woff') format('woff');
}

@font-face {
  font-family: 'Philosopher Bold';
  src: local('Philosopher Bold'),
  url('../fonts/Philosopher/Philosopher-Bold.woff2') format('woff2'),
  url('../fonts/Philosopher/Philosopher-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Philosopher Italic';
  src: local('Philosopher Italic'),
  url('../fonts/Philosopher/Philosopher-Italic.woff2') format('woff2'),
  url('../fonts/Philosopher/Philosopher-Italic.woff') format('woff');
}

/* Scaffolding */

body {
  font-family: "Philosopher Regular", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
* Blocks
*/

/* Logotype */

.logo {
  font-size: 34px;
  text-decoration: none;
  color: #131212;
  transition: 0.3s;
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
  transition: 0.3s;
}

.logo:active {
  opacity: 0.4;
  transition: 0.3s;
}

/* Navigation */

.nav__toggle {
  position: relative;
  height: 14px;
  border: none;
  border-bottom: 2px solid #000000;
  background-color: transparent;
}

.nav__toggle,
.nav__toggle::before {
  width: 20px;
  box-sizing: border-box;
  border-top: 2px solid #000000;
}

.nav__toggle::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
}

/* Slider */

.slider {
  position: relative;
  display: flex;
  justify-content: center;
}

.slider__images {
  display: flex;
  flex-direction: column;
}

.slider__image-box {
  margin: 0;
  padding: 0;
}

.slider__image {
  position: relative;
  vertical-align: top;
  object-fit: cover;
}

.slider__image--current {
  margin-top: -17px;
}

.slider__image--prev {
  left: -45px;
}

/* Controls */

.controls__button {
  position: absolute;
  z-index: 10;
  bottom: 143px;
  width: 25px;
  height: 25px;
  border: none;
  border-left: 4px solid rgba(0, 0, 0, 0.4);
  border-bottom: 4px solid rgba(0, 0, 0, 0.4);
  background-color: transparent;
  transition: 0.5s ease;
}

.controls__button--prev {
  left: 25px;
  transform: rotate(45deg);
}

.controls__button--next {
  right: 25px;
  transform: rotate(-135deg);
}

.controls__button:hover,
.controls__button:focus {
  border-color: #131212;
  transition: 0.5s ease;
}

/*
* Containers
*/

/* General */

.page-header,
.hero {
  background-color: #F7E611;
}

.page-header__wrapper,
.hero__wrapper {
  min-width: 320px;
  margin: 0 auto;
}

/* Page Header */

.page-header {
  padding-bottom: 35px;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 9px;
}

.page-header__logo {
  margin-left: 20px;
}

.page-header__nav {
  margin-top: 8px;
  margin-right: 20px;
}

/* Hero Section */

.hero__wrapper {
  position: relative;
}

.hero__title,
.hero__theme {
  display: none;
}

.hero__tagline {
  font-family: 'Philosopher Italic', sans-serif;
  font-size: 9px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  z-index: 10;
  left: -19px;
  top: 157px;
  transform: rotate(-90deg);
  opacity: 0.5;
}
