/* Font Connection */

/* Geometria */

@font-face {
  font-family: 'Geometria Regular';
  src: local('Geometria Regular'),
  url('../fonts/Geometria/Geometria.woff2') format('woff2'),
  url('../fonts/Geometria/Geometria.woff') format('woff');
}

@font-face {
  font-family: 'Geometria Medium';
  src: local('Geometria Medium'),
  url('../fonts/Geometria/Geometria-Medium.woff2') format('woff2'),
  url('../fonts/Geometria/Geometria-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Geometria Light';
  src: local('Geometria Light'),
  url('../fonts/Geometria/Geometria-Light.woff2') format('woff2'),
  url('../fonts/Geometria/Geometria-Light.woff') format('woff');
}

@font-face {
  font-family: 'Geometria Light Italic';
  src: local('Geometria Light Italic'),
  url('../fonts/Geometria/Geometria-LightItalic.woff2') format('woff2'),
  url('../fonts/Geometria/Geometria-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Geometria Heavy';
  src: local('Geometria Heavy'),
  url('../fonts/Geometria/Geometria-Heavy.woff2') format('woff2'),
  url('../fonts/Geometria/Geometria-Heavy.woff') format('woff');
}

@font-face {
  font-family: 'Geometria Heavy Italic';
  src: local('Geometria Heavy Italic'),
  url('../fonts/Geometria/Geometria-HeavyItalic.woff2') format('woff2'),
  url('../fonts/Geometria/Geometria-HeavyItalic.woff') format('woff');
}

/* Philosopher */

@font-face {
  font-family: 'Philosopher Regular';
  src: local('Philosopher Regular'),
  url('../fonts/Philosopher/Philosopher-Regular.woff2') format('woff2'),
  url('../fonts/Philosopher/Philosopher.woff') format('woff');
}

@font-face {
  font-family: 'Philosopher Bold';
  src: local('Philosopher Bold'),
  url('../fonts/Philosopher/Philosopher-Bold.woff2') format('woff2'),
  url('../fonts/Philosopher/Philosopher-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Philosopher Italic';
  src: local('Philosopher Italic'),
  url('../fonts/Philosopher/Philosopher-Italic.woff2') format('woff2'),
  url('../fonts/Philosopher/Philosopher-Italic.woff') format('woff');
}

/* Scaffolding */

body {
  font-family: "Philosopher Regular", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #F7E611;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Animations */

@keyframes slidein {
  from {
    margin-right: 100%;
    width: 0%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

.slidein {
  animation-duration: 0.5s;
  animation-name: slidein;
  animation-timing-function: ease-in;
}

/*
* Blocks
*/

/* Logotype */

.logo {
  font-size: 34px;
  text-decoration: none;
  color: #131212;
  transition: 0.3s;
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
  transition: 0.3s;
}

.logo:active {
  opacity: 0.4;
  transition: 0.3s;
}

/* Navigation */

.nav__toggle {
  position: relative;
  height: 14px;
  border: none;
  border-bottom: 2px solid #000000;
  background-color: transparent;
}

.nav__toggle,
.nav__toggle::before {
  width: 20px;
  box-sizing: border-box;
  border-top: 2px solid #000000;
}

.nav__toggle::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
}

.nav__wreath {
  display: none;
}

/* Slider */

.slider {
  position: relative;
  display: flex;
  justify-content: center;
}

.slider__images {
  position: relative;
  display: flex;
  flex-direction: column;
}

.slider__image-box--current::after {
  content: '';
  position: absolute;
  z-index: 100;
  bottom: -74px;
  right: -74px;
  border: 74px solid transparent;
  border-top: 74px solid #F7E611;
  transform: rotate(-45deg);
}

.slider__image-box {
  position: relative;
  margin: 0;
  padding: 0;
}

.slider__image-box--prev {
  left: -45px;
  width: 280px;
  height: 184px;
}

.slider__image-box--current {
  margin-top: -17px;
  width: 320px;
  height: 318px;
}

.slider__image-box::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #F7E611;
}

.slider__image-box--prev::before {
  z-index: 10;
  opacity: 0.8;
}

.slider__image-box--current::before {
  z-index: 20;
  opacity: 0.6;
}

.slider__image {
  position: relative;
  vertical-align: top;
  object-fit: cover;
}

.slider__image-box--current {
  z-index: 15;
}

/* Image Name */

.image-name {
  display: none;
}

/* Decoratoin text */

.decration-text {
  position: relative;
}

.decoration-text__item {
  font-family: 'Geometria Medium';
  font-size: 60px;
  position: absolute;
  z-index: 15;
  color: transparent;
  -webkit-text-stroke: 1px #000000;
}

.decoration-text__item--a {
  z-index: 100;
  left: 71px;
  top: 141px;
}

.decoration-text__item--g {
  left: 148px;
  top: 125px;
}

.decoration-text__item--e {
  left: 218px;
  top: 47px;
}

/* Counter */

.counter {
  font-family: 'Geometria Heavy Italic';
  font-size: 20px;
  letter-spacing: 2px;
  position: absolute;
  z-index: 1100;
  bottom: 21px;
  right: 18px;
}

.counter__current {
  display: none;
}

/* Controls */

.controls__button {
  position: absolute;
  z-index: 100;
  bottom: 143px;
  width: 25px;
  height: 25px;
  border: none;
  border-left: 4px solid rgba(0, 0, 0, 0.4);
  border-bottom: 4px solid rgba(0, 0, 0, 0.4);
  background-color: transparent;
  transition: 0.5s ease;
}

.controls__button--prev {
  left: 25px;
  transform: rotate(45deg);
}

.controls__button--next {
  right: 25px;
  transform: rotate(-135deg);
}

.controls__button:hover,
.controls__button:focus {
  border-color: #131212;
  transition: 0.5s ease;
}

/* Triangles */

.triangles {
  position: relative;
}

.triangles__item {
  position: absolute;
  z-index: 1000;
}

.triangles__item:nth-child(1),
.triangles__item:nth-child(2) {
  display: none;
}

.triangles__item:nth-child(3) {
  left: 46px;
  bottom: 26px;
}

.triangles__item:nth-child(4) {
  left: 269px;
  bottom: 314px;
}

.triangles__item--fill {
  fill: #131212;
}

.triangles__item--stroke {
  fill: none;
  stroke: #131212;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/*
* Containers
*/

/* General */

.page-header,
.hero {
  background-color: #F7E611;
}

.page-header__wrapper,
.hero__wrapper {
  width: 320px;
  margin: 0 auto;
}

/* Page Header */

.page-header {
  padding-bottom: 35px;
}

.page-header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 9px;
}

.page-header__wrapper::after {
  content: '';
  position: absolute;
  right: 0;
  top: -20px;
  width: 152px;
  height: 126px;
  transform: skewY(7.5deg);
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.page-header__logo {
  margin-left: 20px;
}

.page-header__nav {
  margin-top: 8px;
  margin-right: 20px;
}

/* Hero Section */

.hero__wrapper {
  position: relative;
}

.hero__title,
.hero__theme {
  display: none;
}

.hero__tagline {
  font-family: 'Philosopher Italic', sans-serif;
  font-size: 9px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  z-index: 1000;
  left: -19px;
  top: 157px;
  transform: rotate(-90deg);
  opacity: 0.5;
}

.hero__wreath-box {
  position: relative;
  z-index: 100;
  left: 50%;
}

.hero__wreath {
  position: absolute;
  bottom: -80px;
  width: 160px;
  height: 160px;
  transform: scale(0.68) translateX(-118px);
  fill: #131212;
  clip: rect(0, 160px, 80px, 0);
}

@media (min-width: 1440px) {
  /* Scaffolding */

  body {
    position: relative;
    background-color: #FEFEFE;
  }

  body::after {
    content: '';
    position: absolute;
    background-color: #FFFFFF;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100vh;
    box-shadow: 0 0 99px rgba(0, 0, 0, 0.1);
  }

  /*
  * Blocks
  */

  /* Navigation */

  .nav__wreath {
    position: absolute;
    left: -70px;
    top: -75px;
    display: block;
    transform: scale(0.3375);
    opacity: 0.2;
  }

  /* Slider */

  .slider__image-box--prev,
  .slider__image-box--prev .slider__image {
    z-index: 1;
    width: 800px;
    height: 525px;
  }

  .slider__image-box--current,
  .slider__image-box--current .slider__image {
    width: 860px;
    height: 490px;
  }

  .slider__image-box--prev {
    top: 1px;
    left: 0;
  }

  .slider__image-box--current {
    margin-left: 420px;
    margin-top: -437px;
  }

  .slider__image-box--current::before {
    opacity: 0.8;
  }

  .slider__image {
    opacity: 0.5;
  }

  .slider__image-box--current::after {
    display: none;
  }

  .slider__image {
    box-shadow: 0 0 90px 0 rgba(0, 0, 0, 0.1);
  }

  /* Image Name */

  .image-name {
    font-family: 'Geometria Regular';
    font-size: 17px;
    letter-spacing: 2.142px;
    text-transform: uppercase;
    display: block;
    position: absolute;
    z-index: 1010;
    left: 111px;
    top: 62px;
    color: #FFFFFF;
  }

  .image-name::before {
    content: '';
    position: absolute;
    left: -25px;
    top: -30px;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 1px solid #000000;
    border-radius: 50%;
  }

  .image-name::after {
    content: '51';
    font-family: 'Geometria Heavy';
    font-size: 28px;
    letter-spacing: 2.8px;
    position: absolute;
    left: -54px;
    top: -118px;
    transform: rotate(-90deg);
    color: #000000;
    opacity: 0.5;
  }

  .image-name__title {
    margin: 0;
    margin-bottom: 2px;
    padding: 0;
  }

  /* Counter */

  .counter {
    letter-spacing: 4.5px;
    right: 341px;
    bottom: 70px;
  }

  .counter::after {
    content: '';
    position: absolute;
    right: -19px;
    bottom: 8px;
    width: 17px;
    height: 3px;
    background-color: #000000;
  }

  .counter__current {
    font-size: 17px;
    position: absolute;
    right: -15px;
    bottom: -15px;
    display: inline;
  }

  .counter__max {
    font-size: 45px;
  }

  /* Decoration Text */

  .decoration-text {
    position: relative;
  }

  .decoration-text::before,
  .decoration-text::after {
    font-family: 'Geometria Light';
    font-size: 14px;
    position: absolute;
    z-index: 100;
    left: 144px;
    color: #000000;
  }

  .decoration-text::before {
    content: '(1)';
    top: 85px;
  }

  .decoration-text::after {
    content: '(3)';
    top: 165px;
  }

  .decoration-text__item {
    font-size: 80px;
  }

  .decoration-text__item--a {
    top: -55px;
    left: 902px;
  }

  .decoration-text__item--g {
    z-index: 100;
    top: 105px;
    left: 986px;
  }

  .decoration-text__item--e {
    top: 27px;
    left: 1075px;
  }

  /* Controls */

  .controls {
    position: absolute;
    z-index: 1010;
    right: 278px;
    top: 160px;
    width: 138px;
    height: 383px;
    background-color: #F7E611;
    box-shadow: 0px 0px 88px rgba(0, 0, 0, 0.1);
  }

  .controls__button {
    bottom: 125px;
  }

  .controls__button--prev {
    left: -33px;
  }

  .controls__button--next {
    right: -33px;
  }

  /* Triangles */

  .triangles__item:nth-child(1),
  .triangles__item:nth-child(2) {
    display: block;
  }

  .triangles__item:nth-child(1) {
    left: 192px;
    bottom: -46px;
  }

  .triangles__item:nth-child(2) {
    left: 452px;
    bottom: -136px;
  }

  .triangles__item:nth-child(3) {
    left: 966px;
    bottom: -108px;
  }

  .triangles__item:nth-child(4) {
    left: 1201px;
    bottom: -89px;
  }

  .triangles__item:nth-child(1)::before,
  .triangles__item:nth-child(1)::after,
  .triangles__item:nth-child(2)::before,
  .triangles__item:nth-child(2)::after,
  .triangles__item:nth-child(3)::before,
  .triangles__item:nth-child(3)::after,
  .triangles__item:nth-child(4)::before,
  .triangles__item:nth-child(4)::after {
    font-family: 'Philosopher Bold';
    font-size: 25px;
    position: absolute;
  }

  .triangles__item:nth-child(1)::before {
    content: 'A';
    left: 76px;
    top: 49px;
  }

  .triangles__item:nth-child(1)::after {
    content: 'F';
    left: 141px;
    top: 14px;
  }

  .triangles__item:nth-child(2)::before {
    content: 'F';
    left: -55px;
    top: -32px;
  }

  .triangles__item:nth-child(2)::after {
    content: 'I';
    left: 3px;
    top: -60px;
  }

  .triangles__item:nth-child(3)::before {
    content: 'N';
    left: -444px;
    top: 8px;
  }

  .triangles__item:nth-child(3)::after {
    content: 'A';
    left: -36px;
    top: -34px;
  }

  .triangles__item:nth-child(4)::before {
    content: 'G';
    left: -170px;
    top: -8px;
  }

  .triangles__item:nth-child(4)::after {
    content: 'E';
    left: -57px;
    top: 19px;
  }

  /*
  * Containers
  */

  /* Generals */

  .page-header,
  .hero {
    background-color: transparent;
  }

  .page-header__wrapper,
  .hero__wrapper {
    width: 1440px;
  }

  /* Page Header */

  .page-header {
    padding-bottom: 30px;
  }

  .page-header__wrapper {
    padding-top: 27px;
  }

  .page-header__logo {
    margin-left: 34px;
  }

  .page-header__nav {
    position: absolute;
    z-index: 10;
    right: 77px;
    top: 109px;
  }

  /* Hero Section */

  .hero__wrapper::before {
    content: '';
    position: absolute;
    top: 88px;
    left: 120px;
    width: 600px;
    height: 616px;
    background-color: linear-gradient(to right top,#FFFFFF, transparent);
    box-shadow: 0 0 99px 0 rgba(0, 0, 0, 0.1);
    opacity: 0.65;
  }

  .hero__title {
    font-size: 140px;
    letter-spacing: 50.4px;
    text-transform: uppercase;
    font-weight: normal;
    position: absolute;
    z-index: 10000;
    left: 50%;
    top: 224px;
    transform: translateX(-47.5%);
    display: inline;
    color: #FFFFFF;
  }

  .hero__theme {
    font-family: 'Geometria Light Italic';
    font-size: 12px;
    letter-spacing: 0.444px;
    position: absolute;
    top: 298px;
    left: -29px;
    display: inline;
    transform: rotate(-90deg);
    color: rgba(0, 0, 0, 0.6);
  }

  .hero__tagline {
    top: 386px;
    left: 283px;
  }

  .hero__tagline::before,
  .hero__tagline::after {
    content: '';
    position: absolute;
    z-index: 1200;
    left: -16px;
    box-sizing: border-box;
    width: 282px;
    border: 1px solid #000000;
  }

  .hero__tagline::before {
    top: 26px;
    height: 138px;
    border-bottom: none;
  }

  .hero__tagline::after {
    top: 145px;
    height: 38px;
    transform: skewY(7.8deg);
    border-left: none;
    border-top: none;
  }

  .hero__wreath {
    transform: scale(1) translateX(-80px);
    clip: rect(0, 160px, 112px, 0);
  }

  .hero__wreath-box::after {
    content: '';
    position: absolute;
    left: -107px;
    bottom: -42px;
    width: 213px;
    height: 10px;
    background-color: rgba(247, 230, 17, 0.75)
  }
}
