/* Font Connection */

/* Geometria */

@font-face {
  font-family: 'Geometria Regular';
  src: local('Geometria Regular'),
  url('../fonts/Geometria/Geometria.woff2') format('woff2'),
  url('../fonts/Geometria/Geometria.woff') format('woff');
}

/* Philosopher */

@font-face {
  font-family: 'Philosopher Regular';
  src: local('Philosopher Regular'),
  url('../fonts/Philosopher/Philosopher-Regular.woff2') format('woff2'),
  url('../fonts/Philosopher/Philosopher.woff') format('woff');
}

@font-face {
  font-family: 'Philosopher Bold';
  src: local('Philosopher Bold'),
  url('../fonts/Philosopher/Philosopher-Bold.woff2') format('woff2'),
  url('../fonts/Philosopher/Philosopher-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Philosopher Italic';
  src: local('Philosopher Italic'),
  url('../fonts/Philosopher/Philosopher-Italic.woff2') format('woff2'),
  url('../fonts/Philosopher/Philosopher-Italic.woff') format('woff');
}

/* Scaffolding */

body {
  font-family: "Philosopher Regular", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Logotype */

.logo {
  font-size: 34px;
  text-decoration: none;
  color: #131212;
  transition: 0.3s;
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
  transition: 0.3s;
}

.logo:active {
  opacity: 0.4;
  transition: 0.3s;
}
